<div class="ui large top fixed borderless hidden menu">
    <div class="ui container">
        <a class="header item loading-trigger" href="{{ '/' | relative_url }}">
            <div class="ui middle aligned image">
                <img class="logo-image" src="{{ site.logo_dark }}" alt="Logo Dark">
            </div>
            <div class="logo-text">{{ site.alias_en }}</div>
        </a>
        {% include menu_items.html %}
        <div class="right menu">
            <a class="item" href="http://wpa.qq.com/msgrd?v=3&uin=1459513368&site=qq&menu=yes" target="_blank"><i class="qq black icon"></i>申请友链</a>
        </div>
    </div>
</div>
